AddType application/x-httpd-php .php .php3 .php4 .phtml .html
<IfModule mod_cgi.c>
	AddHandler cgi-script .py
</IfModule>

RewriteEngine on

RewriteRule ^1cengine/site/$ 1cengine/site/index.py$1 [L]
RewriteRule ^wiki/ - [L]
RewriteRule ^wordpress/ - [L]
RewriteRule ^1cengine/py_scripts/ - [L]
RewriteRule ^1cengine/old_site/ - [L]
RewriteRule ^1cengine/pda_site/ - [L]

RewriteRule ^catalog/armatura/$ 1cengine/site/?catalog=Арматура$1 [L]
RewriteRule ^catalog/armatura-12/$ 1cengine/site/?catalog=Арматура\%2012$1 [L]
RewriteRule ^catalog/otsinkovannyy-list/$ 1cengine/site/?catalog=лист\%20оцинкованный$1 [L]
RewriteRule ^catalog/riflenyy-list/$ 1cengine/site/?catalog=лист\%20рифленый$1 [L]
RewriteRule ^catalog/prosechno-vytyazhnoy-list/$ 1cengine/site/?catalog=Просечно-вытяжной\%20лист$1 [L]
RewriteRule ^catalog/balka/$ 1cengine/site/?catalog=Балка$1 [L]
RewriteRule ^catalog/truba/$ 1cengine/site/?catalog=Труба$1 [L]
RewriteRule ^catalog/besshovnye-truby/$ 1cengine/site/?catalog=Бесшовные\%20трубы$1 [L]
RewriteRule ^catalog/kvadrat/$ 1cengine/site/?catalog=Квадрат$1 [L]
RewriteRule ^catalog/ugolok/$ 1cengine/site/?catalog=Угол$1 [L]
RewriteRule ^catalog/krug/$ 1cengine/site/?catalog=Круг$1 [L]
RewriteRule ^catalog/list/$ 1cengine/site/?catalog=Лист$1 [L]
RewriteRule ^catalog/trubi-bu/$ 1cengine/site/?catalog=трубы\%20бу$1 [L]
RewriteRule ^catalog/profilnye-truby/$ 1cengine/site/?catalog=профильные\%20трубы$1 [L]
RewriteRule ^catalog/otsinkovannye-truby/$ 1cengine/site/?catalog=оцинкованные\%20трубы$1 [L]
RewriteRule ^catalog/setka-kladochnaya/$ 1cengine/site/?catalog=сетка\%20кладочная$1 [L]
RewriteRule ^catalog/setka-rabitsa/$ 1cengine/site/?catalog=Сетка\%20рабица$1 [L]
RewriteRule ^catalog/balka-dvutavrovaya/$ 1cengine/site/?catalog=балка\%20двутавровая$1 [L]

RewriteRule ^index.html core.py [L]
RewriteRule ^([-a-zA-Z0-9_/]+)/index.html /$1 [L,R=301]


RewriteRule ^([-a-zA-Z0-9_/]+)/$ core.py?page=$1 [L]

RewriteRule ^([-a-zA-Z0-9_/]+)$ core.py?page=$1 [L]

RewriteCond %{HTTP_HOST} ^www\.trimet\.ru$ [NC]
RewriteRule ^(.*)$ http://trimet.ru/$1 [L,R=301]


RewriteCond %{SERVER_PORT} !443 [NC]
RewriteRule ^(.*) https://%{HTTP_HOST}/$1 [L,R]

ErrorDocument 404 /404.py

<IfModule mod_fcgid.c>
 AddHandler fcgid-script .fcgi
 </IfModule>
<IfModule mod_charset.c>
 AddHandler fastcgi-script .fcgi
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 14 day"
  ExpiresByType image/gif "access plus 14 day"
  ExpiresByType image/png "access plus 14 day"
</IfModule>