<IfModule mod_cgi.c>
	AddHandler cgi-script .py
</IfModule>

RewriteEngine on
RewriteRule ^1cengine/ - [L]
RewriteRule ^wiki/ - [L]
RewriteRule ^index.html core.py [L]
RewriteRule ^([-a-zA-Z0-9_/]+)/$ core.py?page=$1 [L]
RewriteRule ^([-a-zA-Z0-9_/]+)$ core.py?page=$1 [L]

ErrorDocument 404 /404.py

<IfModule mod_fcgid.c>
 AddHandler fcgid-script .fcgi
 </IfModule>
<IfModule mod_charset.c>
 AddHandler fastcgi-script .fcgi
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
</IfModule>