/*#metalSelector {
 background-color: #B81900;

 }*/
.MenuElement {
	position: absolute;
}

/*.for_debug_div_blockmodel {
 border: 3px solid red
 }

 .nav {
 border: 3px solid red
 }*/
#divMain {
	width: 972px;
	margin: 0 auto;
}

#divHead {
	height: 105.617px;
	border-bottom-width: 6px;
	border-bottom-color: #A6CFED;
	border-bottom-style: solid;
}
#divObjMenu {
	background: none repeat scroll 0 0 #2D3694;
	margin: 10px 0 0;
	width: 775px;
	float: right;
}

#divObjMenu ul li {
	float: left;
}

#divObjMenu a:link {
	color: #FFFFFF;
}

body {
	font: 62%/1.5 Arial, Helvetica, sans-serif;
}
