/*#metalSelector {
 background-color: #B81900;

 }*/
.MenuElement {
	position: absolute;
}

/*.for_debug_div_blockmodel {
 border: 3px solid red
 }

 .nav {
 border: 3px solid red
 }*/
#divMain {
	width: 972px;
	margin: 0 auto;
}

#divHead {
	height: 105.617px;
	border-bottom-width: 6px;
	border-bottom-color: #A6CFED;
	border-bottom-style: solid;
}