<div id="main2">

    <a id="top" title="Перейти к содержимому" tabindex="1" href="#sm"></a>
    <div id="header"></div>
      <!-- /header -->
    <div class="clear"></div>
    <div id="post-header"></div>


    <h1 style="font-size:14px;display:none">Продажа металлопроката, профнастила и металлосайдинга онлайн в Тюмени и Тюменской Области</h1>

    <table style="width:100%;">
        <tr>
            <td id="leftTr">

                <div id='showBasketSpan'>
                    <p><a href='Показать%20заказ' title='Заказ' id='tabBasket' onClick='return false'>Показать заказ (<span class='basketCount'>0</span>)</a></p>
                    <p style="display:none;"><a href="http://trimet.ru/1cengine/productinformation/cataloginformation/index_products.php" title="Просмотреть индекс каталога товаров">Индекс</a></p>
                    <p>Скачать прайс:
                        <ul>
                            <li><a href="/download/files/price.xlsx" title="Скачать прайс в формате xls">xls</a></li>
                            <li><a href="/download/files/price.pdf" title="Скачать прайс в формате pdf">pdf</a></li>
                            <li><a href="/download/files/price.ods" title="Скачать прайс в формате ods">ods</a></li>
                        </ul>
                    </p>
                </div>
                <div id='showPriceSpan'>
                    <p><a href='Показать%20прайс' title='В прайс' id='tabPrice' onClick='return false'>Добавить товар</a></p>
                    <p><a href='javascript:createOrder()' title='Сохранить заказ'>Оформить заказ</a></p>
                    <p>Скачать заказ:
                        <ul>
                            <li><a href='javascript:getOrderFomat("xlsx")' title="Скачать прайс в формате xls">xls</a></li>
                            <li><a href='javascript:getOrderFomat("pdf")' title="Скачать прайс в формате pdf">pdf</a></li>
                            <li><a href='javascript:getOrderFomat("odf")' title="Скачать прайс в формате ods">ods</a></li>
                        </ul>
                    </p>

                </div>
                
            </td>
            <td id="mainTr" rowspan="2">
                <div id="pTableContentTab">
                    <div id="searchDiv">
                        
                        <pythonscript>
                            {template.set_search_value()}
                        </pythonscript> 

                        <div id="searchButton">Найти</div>
                    </div><br />
                    <a href="javascript:showGroups()" title="Показать группы товаров"><div id="showGroupsDiv">Показать группы</div></a>
                    <span id="hollowResult"></span>
                    <div id="qRes">
                            <pythonscript>
                                {template.set_search_results()}
                            </pythonscript>
                    </div>
                    <p>
                        <pythonscript>
                            {template.set_show_all_result()}
                        </pythonscript>
                        <?php echo $text_seo; ?>
                        <pythonscript>
                            {template.show_seo_text()}
                        </pythonscript>
                    </p>

                    <pythonscript>
                        {template.set_tags_div()}
                    </pythonscript>
                </div>
                <div id="basketDiv" style="display:none">
                    <span id="basketCaption">Заказ покупателя</span>

                    <div id="switchDiv">
                        <div class="activeDiv" id="switchOrderDiv">Товары</div>
                        <div class="inactiveDiv" id="switchDeliveryDiv">Доставка</div>
                        <div class="inactiveDiv" id="switchNotificationDiv">Оформить заказ</div>
                        <div id="showNDSlabel"><input type="checkbox" id="showNds" /><label for="showNds">Показать НДС</label></div>
                    </div>
                    <div id="orderDiv">
                        <table id='basketTab' cellspacing='0' cellpadding='0'>
                          <thead>
                             <tr>
                                <th class='itemHeader'>
                                    №
                                </th>
                                
                                <th class='itemHeader'>
                                    Номенклатура
                                </th>
                                
                                <th class='itemHeader'>
                                    Хар-ка
                                </th>
                                
                                <th class='itemHeader'>
                                    Кол-во
                                </th>
                                
                                <th class='itemHeader'>
                                    Ед.
                                </th>

                                <th class='itemHeader'>
                                    Цена
                                </th>
                                
                                <th class='itemHeader NDSHeader'>
                                    Ставка НДС
                                </th>

                                <th class='itemHeader NDSHeader'>
                                    Сумма НДС
                                </th>
                                
                                <th class='itemHeader'>
                                    Сумма
                                </th>

                                <th style='display:none'>
                                </th>
                             </tr>
                          </thead>
                          <tbody id='lItemTab'>
      
                          </tbody>
                        </table>
                        <div id='Summary'>
                            <table>
                                <tr>
                                    <td>Общий вес:</td>
                                    <td id='CountAll'></td>
                                </tr>
                                <tr>
                                    <td>Стоимость товара:</td>
                                    <td id='SumGoods'></td>
                                </tr>
                                <tr>
                                    <td><span class='withDelivery' style='display:none'>Стоимость доставки:</span><span class='withoutDelivery'>Без доставки</span></td>
                                    <td id='SumDelivery'></td>
                                </tr>
                                <tr>
                                    <td>Стоимость доп. услуг:</td>
                                    <td id='SumRezka'></td>
                                </tr>
                                <tr>
                                    <td>Общая стоимость:</td>
                                    <td name='0' id='SumAll'></td>
                                </tr>
                                <tr class="ndsAllsum" style="display:none">
                                    <td>НДС (в т. ч.):</td>
                                    <td id='NDSAll'></td>
                                </tr>
                            </table>                     
                        </div>
                    </div>
                    <div id="deliveryDiv">
                        <!-- <div id='shipment'> -->
                            <!-- <form id='shipmentForm'> -->

                                <div id="deliver_choise">
                                    <label for="selfCarry"> Самовывоз</label>
                                    <input type="radio" id="selfCarry" name="deliver_selfCarry" checked />
                                    <label for="toDeliver" class="tDC"> Доставка</label>
                                    <input type="radio" id="toDeliver" name="deliver_selfCarry" />
                                </div>

                                <table id='deliveryTab'>
                                    <tr>
                                        <td>Выберете город</td>
                                        <td>
                                            <select id='townSelect'>
                                                <option value='--' selected disabled>--</option>
                                                <option value='72000001'>Тюмень</option>
                                                <option price='44600' value='74002003'>Аша</option>
                                                <option price='30700' value='660000280005'>В. Салда</option>
                                                <option price='19500' value='66000001'>Екатеринбург</option>
                                                <option price='7900' value='72009001'>Заводоуковск</option>
                                                <option price='17800' value='72011001'>Ишим</option>
                                                <option price='12300' value='03020000139'>Курган</option>
                                                <option price='7400' value='72013000001'>Н. Тавда</option>
                                                <option price='27900' value='66000023'>Н. Тагил</option>
                                                <option price='41800' value='86000014'>Нефтеюганск</option>
                                                <option price='58500' value='86000011'>Нижневартовск</option>
                                                <option price='72500' value='54000001'>Новосибирск</option>
                                                <option price='92000' value='89000006'>Новый Уренгой</option>
                                                <option price='36200' value='55000001'>Омск</option>
                                                <option price='22300' value='66000016'>Первоуральск</option>
                                                <option price='22300' value='66000017'>Полевской</option>
                                                <option price='39000' value='86000007'>Пыть-Ях</option>
                                                <option price='44600' value='86000010'>Сургут</option>
                                                <option price='8400' value='660000360005'>Тавда</option>
                                                <option price='13900' value='72000002'>Тобольск</option>
                                                <option price='22300' value='72018000001'>Уват</option>
                                                <option price='53000' value='86000001'>Ханты-Мансийск</option>
                                                <option price='27900' value='74000001'>Челябинск</option>
                                                <option price='12300' value='45000002'>Шадринск</option>
                                                <option price='6800' value='72021001'>Ялуторовск</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Введите адрес</td>
                                        <td>
                                            <input type='textarea' name='destination' id='destination' value='' placeholder='Введите здесь адрес' /> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Выберете транспорт</td>
                                        <td>
                                            <select id='carry' name='carry'>
                                                <option disabled selected>--</option>
                                                <option price='2400' value='Длинномер' checked > Длинномер </option>
                                                <option price='1200' value='Газель'> Газель </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Стоимость доставки</td>
                                        <td><span id="delivery_cost"></span></td>
                                    </tr>
                                    
                                </table>
                            <!-- </form> -->
                        <!-- </div> -->
                        <!-- <p id="sCP"></p> -->
                        <div id="tabs-1">
                <div class="add-panel">
                    <div class="wrp">
                        <form class="add-panel__request regular__ctrls">
                            <div class="ffield">
                                <label class="ffield__lbl">
                                    Город
                                </label>
                                <input name="city" type="text" class="long">
                                <img src="images/spinner.gif" class="spinner">
                            </div>
                            <div class="ffield">
                                <label class="ffield__lbl">
                                    Улица
                                </label>
                                <input name="street" type="text" class="long">
                                <img src="images/spinner.gif" class="spinner">
                            </div>
                            <div class="ffield">
                                <label class="ffield__lbl">
                                    Номер дома
                                </label>
                                <input name="building" type="text" class="small">
                                <img src="images/spinner.gif" class="spinner spinner2">

                                <label class="ffield__lbl2">
                                    Корпус/строение
                                </label>
                                <input name="building-add" type="text" class="small">
                            </div>
                            <div class="ffield">
                                <label class="ffield__lbl ltooltip"></label>
                                <div id="map" class="add-panel__map"></div>
                            </div>
                        </form>
                        <div class="addition">
                            <div class="block">
                                <p class="title">Выбранный объект</p>
                                <ul>
                                    <li id="id" style="display: none;"><span class="name">Код:</span> <span class="value">2900000100000</span></li>
                                    <li id="zip" style="display: none;"><span class="name">Почтовый индекс:</span> <span class="value"></span></li>
                                    <li id="name" style="display: none;"><span class="name">Название:</span> <span class="value">Архангельск</span></li>                        
                                    <li id="type" style="display: none;"><span class="name">Тип:</span> <span class="value"></span></li>
                                    <li id="type_short" style="display: none;"><span class="name">Тип коротко:</span> <span class="value"></span></li>
                                </ul>
                            </div>
                            <div class="block">
                                <p class="title">Текстовое представление адреса</p>
                                <p id="address" class="value"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        
                    </div>
                    <div id="notificationDiv">

                        <table class="orderFormTable">
                            <tr>
                                <td>Фамилия</td>
                                <td>
                                    <input type="textarea" class="orderFormInput" id="lastNameInput" />
                                </td>
                            </tr>
                            <tr>
                                <td>Имя и Отчество</td>
                                <td>
                                    <input type="textarea" class="orderFormInput" id="nameSurnameInput" />
                                </td>
                            </tr>
                            <tr>
                                <td>*Электронная почта</td>
                                <td>
                                    <input type="textarea" id='emailInput' class="orderFormInput" />
                                </td>
                            </tr>
                            <tr>
                                <td>*Телефон для связи</td>
                                <td>
                                    <input type="textarea" class="orderFormInput" id="mainPhoneInput" />
                                </td>
                            </tr>
                            <tr>
                                <td>Дополнительный телефон для связи</td>
                                <td>
                                    <input type="textarea" class="orderFormInput" id="otherPhoneInput" />
                                </td>
                            </tr>
                        </table>

                        <p>*Обязательны для заполнения</p>

                        <a href="Посмотреть%20заказ" onClick="$('#switchOrderDiv').click(); return false"><div id="backToBasketButton">Посмотреть заказ</div></a>

                        <a href="javascript:createOrder()" style="text-decoration:none;"><div id="sendOrderButton">Оформить</div></a>

                        <!-- <span id='email'>E-mail для уведомлений: <input id='emailInput' type='textarea' value='' /></span> -->
                    </div>

                </div>
            </td>
        </tr>
        <tr>
            <td id="leftTrBottomTd">
                <p><a href="http://trimet.ru/banking/">Правила онлайн оплаты</a></p>
                <p><a href="http://trimet.ru/1cengine/site/howmakeorder.php">Как выписать счёт?</a></p>
                <p><a href="http://trimet.ru/1cengine/site/howitcreating.php">Оставить отзыв</a></p>
            </td>
        </tr>
    </table>
    <a class='scrollTop' href='#header' style='display:none;'></a>  


</div> <!-- /main -->