<table class="tagTab" style="font-size:16px">                 
    <tr>
        <td class="iRefTd armaTagTd">
            <a href="/catalog/armatura/" onclick="yaCounter15882208.reachGoal('onCloudLinkPressed', 'Арматура'); goToHell('/catalog/armatura/); return false;"><div class="armaTagDiv"></div><span><strong>Арматура</strong></span>
            </a>
        </td>
        <td class="iRefTd listTagTd">
            <a href="/catalog/list/" onclick="yaCounter15882208.reachGoal('onCloudLinkPressed', 'Лист'); goToHell('/catalog/list/'); return false;"><div class="listTagDiv"></div><span><strong>Лист</strong></span>
            </a>
        </td>
        <td class="iRefTd shvellerTagTd">
            <a href="/1cengine/site/Швеллер" onclick="yaCounter15882208.reachGoal('onCloudLinkPressed', 'Швеллер')"><div class="shvellerTagDiv"></div><span><strong>Швеллер</strong></span>
            </a>
        </td>
    </tr>
    <tr>
        <td class="iRefTd balkaTagTd">
            <a href="/catalog/balka-dvutavrovaya/" onclick="yaCounter15882208.reachGoal('onCloudLinkPressed', 'Балка'); goToHell('/catalog/balka-dvutavrovaya/'); return false;"><div class="balkaTagDiv"></div><span><strong>Балка</strong></span>
            </a>
        </td>
        <td class="iRefTd trubaTagTd">
            <a href="/catalog/truba/" onclick="yaCounter15882208.reachGoal('onCloudLinkPressed', 'Труба'); goToHell('/catalog/truba/'); return false;"><div class="trubaTagDiv"></div><span><strong>Труба</strong></span>
            </a>
        </td>
        <td class="iRefTd profnastilTagTd">
            <a href="/1cengine/site/Профнастил" onclick="yaCounter15882208.reachGoal('onCloudLinkPressed', 'Профнастил')"><div class="profnastilTagDiv"></div><span><strong>Профнастил</strong></span>
            </a>
        </td>
    </tr>
    <tr>
        <td class="iRefTd kvadratTagTd">
            <a href="/catalog/kvadrat/" onclick="yaCounter15882208.reachGoal('onCloudLinkPressed', 'Квадрат'); goToHell('/catalog/kvadrat/'); return false;"><div class="kvadratTagDiv"></div><span><strong>Квадрат</strong></span>
            </a>
        </td>
        <td class="iRefTd provolokaTagTd">
            <a href="/1cengine/site/Проволока" onclick="yaCounter15882208.reachGoal('onCloudLinkPressed', 'Проволока')"><div class="provolokaTagDiv"></div><span><strong>Проволока</strong></span>
            </a>
        </td>
        <td class="iRefTd ugolTagTd">
            <a href="/catalog/ugolok/" onclick="yaCounter15882208.reachGoal('onCloudLinkPressed', 'Угол'); goToHell('/catalog/ugolok/'); return false;"><div class="ugolTagDiv"></div><span><strong>Угол</strong></span>
            </a>
        </td>
    </tr>
    <tr>
        <td class="iRefTd krugTagTd">
            <a href="/catalog/krug/" onclick="yaCounter15882208.reachGoal('onCloudLinkPressed', 'Круг'); goToHell('/catalog/krug/'); return false;"><div class="krugTagDiv"></div><span><strong>Круг</strong></span>
            </a>
        </td>
        <td class="iRefTd metallosaidingTagTd">
            <a href="/1cengine/site/Металлосайдинг" onclick="yaCounter15882208.reachGoal('onCloudLinkPressed', 'Металлосайдинг')"><div class="metallosadingTagDiv"></div><span><strong>Металлосайдинг</strong></span>
            </a>
        </td>
        <td class="iRefTd shtripsTagTd"><a href="/1cengine/site/Штрипс" onclick="yaCounter15882208.reachGoal('onCloudLinkPressed', 'Штрипс')"><div class="shtripsTagDiv"></div><span><strong>Штрипс</strong></span></a></td>
    </tr>
    <tr>
        <td class="iRefTd metallocherepicaTagTd">
            <a href="/1cengine/site/Металлочерепица" onclick="yaCounter15882208.reachGoal('onCloudLinkPressed', 'Металлочерепица')"><div class="metallocherepicaTagDiv"></div><span><strong>Металлочерепица</strong></span>
            </a>
        </td>
        <td class="iRefTd polosaTagTd">
            <a href="/1cengine/site/Полоса" onclick="yaCounter15882208.reachGoal('onCloudLinkPressed', 'Полоса')"><div class="polosaTagDiv"></div><span><strong>Полоса</strong></span>
            </a>
        </td>
    </tr>

</table>