		<header id="main-trimet-header">

 <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33206471-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
        })();
        </script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function(d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter15882208 = new Ya.Metrika({
                            id : 15882208,
                            webvisor : true,
                            clickmap : true,
                            trackLinks : true
                        });
                        w.yaCounter23067595 = new Ya.Metrika({
                            id:23067595,
                            webvisor:true,
                            clickmap:true,
                            trackLinks:true
                        });
                    } catch(e) {
                    }
                });

                var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function() {
                    n.parentNode.insertBefore(s, n);
                };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else {
                    f();
                }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript>
            <div><img src="//mc.yandex.ru/watch/15882208" style="position:absolute; left:-9999px;" alt="" />
            </div>
        </noscript>
        <!-- /Yandex.Metrika counter -->

			<a title="Тримет" href="/core.py"> <img id="logo" src="/img/logo.png" alt="Тримет" height="47" width="184" /> </a>
			<div class="box">

                <div id = "improve_panel" class="webstore-tb-ub-mc-nc-oc-z">
                    <!-- <div id = "improve_panel_button" class= "webstore-sb-tb-ub-Mc-B webstore-Pf-zb webstore-A-B-C webstore-A-L-i-J-B-K webstore-A-B-ab-bb-cb-db webstore-button webstore-A-B-o webstore-A-B-H webstore-test-button-label c1"> -->
                        <p>+7 (3452) 520-670</p>
                        <p>625014, г. Тюмень , ул. Республики, 278 а, строение 1</p>
                        <p><a href="/contacts/maps/">Схема проезда</a></p>
                    <!-- </div> -->
                </div>

                <div id="nav_div" style="margin-top: 72px;">
                <nav class="navigation">
                    <span class="special_nav">
                        <a class="mm_link" href="/kabinet/" title="Войти в ЛК">Войти</a>
                        <a class="mm_link" href="/1cengine/site/" title="Онлайн Прайс">Купить Online</a>
                    </span>
                    <a class="mm_link" href="/contacts/" title="Контакты">Контакты</a>
                    <a class="mm_link" href="/suppliers/" title="Поставщикам">Поставщикам</a>
                    <a class="mm_link" href="/products/" title="Продукция">Продукция</a>
                    <a class="mm_link" href="/services/" title="Услуги">Услуги</a>
                    <a class="mm_link" href="/about/" title="О компании">О компании</a>
                </nav>
                </div>

				<div id="obj-navig" style="margin-top: 82px;">
					<a href="/contacts/feedback/" title="">
                        <img class="nav2" src="/img/n.gif" alt="" height="10" width="11" />
                    </a>
				</div>
				<div id="obj-lang">
					<ul>
						<li>
							<a>По русски</a>
						</li>
						<li>
							<a>In English</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<!--button onclick="clearcss()">Очистить</button-->
