		<header id="main-trimet-header">

 <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33206471-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
        })();
        </script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function(d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter15882208 = new Ya.Metrika({
                            id : 15882208,
                            webvisor : true,
                            clickmap : true,
                            trackLinks : true
                        });
                    } catch(e) {
                    }
                });

                var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function() {
                    n.parentNode.insertBefore(s, n);
                };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else {
                    f();
                }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript>
            <div><img src="//mc.yandex.ru/watch/15882208" style="position:absolute; left:-9999px;" alt="" />
            </div>
        </noscript>
        <!-- /Yandex.Metrika counter -->
        <script type="text/javascript" charset="utf-8">
        var proto = (document.location.protocol=='https:')?'https:':'http:';
        var host = proto+'//widget.copiny.com';
        document.write(unescape("%3Cscript src='" + host + "/static/js/widget.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript" charset="utf-8">
                var copinyWidgetOptions = {
            position: 'right',
                type: 'question',
            color:    '#ff8400',
                border:   '#ffffff',
            round:    '1',
            title:    "\u041e\u0431\u0440\u0430\u0442\u043d\u0430\u044f \u0441\u0432\u044f\u0437\u044c",
                cache:   "9ca936d041c7637244c3fb8ef4a8ea6c\/9ca936d041c7637244c3fb8ef4a8ea6c\/ejOwVXUxULV0BZFOhqouhqoWBmC2AZhtBGa7IIm4aYMpQ7CQEUQIzDYHs50B",
                community:9097
        };
        initCopinyWidget(copinyWidgetOptions);
        CopinyWidget.showTab();
        </script>


			<a title="Тримет" href="/core.py"> <img id="logo" src="/img/logo.png" alt="Тримет" height="47" width="184" /> </a>
			<div class="box">
				<!--div id = "improve_panel" class="webstore-tb-ub-mc-nc-oc-z">
					<div id = "improve_panel_button" class= "webstore-sb-tb-ub-Mc-B webstore-Pf-zb webstore-A-B-C webstore-A-L-i-J-B-K webstore-A-B-ab-bb-cb-db webstore-button webstore-A-B-o webstore-A-B-H webstore-test-button-label c1">
						Нашли что искали?
					</div>
					<div id = "improve_panel_options">
						<ul class="improve_panel_ul">
							<li id = "improve_panel_yes" style="float: left">
								Да
							</li>
							<li id = "improve_panel_no" style="float: right">
								Нет
							</li>
						</ul>
					</div>
					<div id = "improve_panel_thanks_label" style="width: 170px; text-align: center; display: none">Спасибо, Вы делаете интеренет прекраснее!!!</div>
				</div-->
				<div id="obj-mmenu" style="margin-top: 72px;">
					<ul>
						<li>
							<a href="/about/" title="О компании">О компании</a>
						</li>
						<li>
							<a href="/services/" title="Услуги">Услуги</a>
						</li>
						<li>
							<a href="/products/" title="Продукция">Продукция</a>
						</li>
						<li>
							<a href="/suppliers/" title="Поставщикам">Поставщикам</a>
						</li>
						<li>
							<a href="/contacts/" title="Контакты">Контакты</a>
						</li>
						<li>
							<a href="/1cengine/site/" title="Купить Online">Купить Online</a>
						</li>
						<li>
							<a href="/kabinet/" title="Личный кабинет">Войти</a>
						</li>
					</ul>
				</div>
				<div id="obj-navig" style="margin-top: 82px;">
					<img class="nav1" src="/img/n.gif" alt="" height="10" width="11" /><a href=
					"/contacts/feedback/" title=""><img class="nav2" src="/img/n.gif"
					alt="" height="10" width="11" /></a>
				</div>
				<div id="obj-lang">
					<ul>
						<li>
							<a>По русски</a>
						</li>
						<li>
							<a>In English</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<!--button onclick="clearcss()">Очистить</button-->
