<div class="page-products-sale">
    <h2>Отдел продаж</h2>
    <img src="/img/foto14.jpg" alt="" width="230" height="56" />
    <p>Оформить заявку и&nbsp;получить информацию о&nbsp;наличии, стоимости металлопроката, условиях поставки, возможности докомплектации заявки и&nbsp;пр. можно и&nbsp;у&nbsp;специалистов отдела продаж</p> 
    <p>Телефон: +7 (3452) <nobr>520-670</nobr> (71, 72, 73, 74)<br />
    Факс: +7 (3452) <nobr>520-670</nobr> доб.&nbsp;133, 113</p>
    
    <p><strong>Менеджеры отдела продаж</strong><br />
    Барсуков Александр Евгеньевич<br />
    <ins>доб.139</ins><br />
    Маркова Юлия Владимировна<br />
    <ins>доб.130</ins><br />
    Дробжева Елена Анатольевна<br />
    <ins>доб.132</ins><br />
    Вяткина Мария Валерьевна<br />
    <ins>доб.131</ins><br />
    Ермакова Елена Анатольевна<br />
    <ins>доб.138</ins><br />
</div>