.check_body{
    border:1px solid gray;
    width:200px;
    min-height:200px;
    margin: auto auto;
    font-family:'Anonymous Pro';
    padding:5px;
    font-weight:400;
    font-size:10pt;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
    padding-bottom:10px;
}
.check_body img{
    margin:5px auto;
    display:block;
}
.star_delimeter{
    text-align: center;
    line-height: 10pt;
    margin: 0px;
    padding: 0px;
}
.status_p{
    font-variant: small-caps;
    text-align: center;
    line-height: 10pt;
    margin: 0px;
    padding: 2px;
    letter-spacing: 1pt;
}
.description{
    font-variant: small-caps;
    line-height: 10pt;
    margin:0 13px;
}
.description td:first-child{
    width:90px;
}
.description td:last-child{
    font-size:8pt;
    font-weight:bold;
    font-variant: normal;
}