h1.title {
    margin: 0px;
    color: rgb(0, 0, 0);
    padding: 8px 0px 0px;
    font-size: 200%;
    line-height: 1.6;
}

#obj-path {
    color: rgb(182, 182, 182);
    font-size: 0.85em;
    font-weight: 100;
}

a, a:link, a:visited, a:hover, a:active {
    color: rgb(45, 54, 148);
}

#obj-path a {
    color: rgb(182, 182, 182) !important;
    position: relative;
    top: -1px;
    font-weight: 100;
}

#obj-path ins {
    margin: 0px 4px;
    text-decoration: none;
    font-size: 0.96em;
}

#wrap {
    clear: both;
    margin: 0px 245px 0px 178px;
    height: 1%;
    position: relative;
}

#col3 {
    float: right;
    margin-right: -245px;
    position: relative;
    width: 245px;
}

#cont3 {
    height: 1%;
    padding: 18px 0px 50px;
}

#main h2, #cont1 h2, #cont3 h2 {
    color: rgb(45, 54, 148);
    margin: 0px 0px 0.5em;
    padding: 0px;
}

#cont3 h2 {
    margin: 0px 0px 1em;
    font-size: 106%;
    font-weight: 900;
}

#cont3 img {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-top: 2px double rgb(229, 229, 229);
    margin: 0px 0px 1.4em;
}

#cont3 div > img {
    border-top: 1px solid rgb(229, 229, 229);
    padding-top: 3px;
}

#cont3 ul, #cont3 ol, #cont3 p {
    font-size: 0.86em;
    line-height: 1.73;
}

#cont3 h3, #cont3 p {
    padding-left: 10px;
    padding-right: 10px;
}

#cont3 p {
    margin: 0px 0px 1.4em;
}

#cont3 ul, #cont3 ol, #cont3 p {
    font-size: 0.86em;
    line-height: 1.73;
}

#cont3 ul {
    margin: 0px 0px 1.4em;
    padding: 0px 0px 0px 5px;
}

#cont3 ul li, #cont3 ul ul li, #cont3 ul ul ul li {
    background: url("/img/p1.gif") no-repeat scroll 0px 1em transparent;
}

#cont3 .obj-catalog2 {
    margin-top: 3.7em;
    padding: 0px 0px 1px;
    position: relative;
}

#cont3 .obj-catalog2 h2 {
    border-bottom: 1px solid rgb(221, 221, 221);
    margin: 0px 0px 15px !important;
    padding: 0px 0px 3px 92px !important;
    position: relative;
    z-index: 1;
}

#cont3 .obj-catalog2 img {
    border: 0px solid;
    padding: 0px;
    position: absolute;
    top: -9px;
    right: 167px;
    z-index: 0;
}

#cont3 .obj-news ul, #cont3 .obj-catalog2 div {
    font-size: 0.93em;
}

#cont3 .obj-catalog2 div {
    padding-left: 92px;
}

#cont3 .obj-catalog2 h3 {
    font-size: 111%;
    font-weight: 900;
    line-height: 1.61;
}

#cont3 .obj-catalog2 h3 {
    color: rgb(86, 86, 86);
    margin: 0px;
    padding: 0px;
}

#cont3 .obj-catalog2 p {
    font-size: 0.91em;
    line-height: 1.8;
}

#cont3 .obj-catalog2 p {
    margin: 0.2em 0px 1.4em;
}

#col2 {
    display: table;
    float: right;
    width: 99.4%;
}

#cont2 {
    height: auto !important;
    min-height: 350px;
    padding: 15px 27px 20px 24px;
}

.aleft {
    text-align: left !important;
}

img.aleft, object.aleft {
    float: left;
    margin: 0.4em 25px 5px 0px;
}

#cont2 img {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border: 2px double rgb(229, 229, 229);
}

.ind10 {
    margin-left: 40px;
}

.ind10, .ind20, .ind30 {
    padding: 1.2em 0px;
}

ins, samp {
    color: rgb(170, 170, 170);
    text-decoration: none;
}

ul {
    margin-left: 2.7em;
    padding: 0.8em 0px;
}

ul li, ul ul li, ul ul ul li {
    background: url("/img/p1.gif") no-repeat scroll 0px 0.9em transparent;
    list-style-type: none;
    padding: 2px 0px 2px 1.9em;
}

#col1 {
    background: url("/img/sprite2.png") no-repeat scroll 176px -3px transparent;
    float: left;
    margin-left: -178px;
    position: relative;
    width: 178px;
}

#cont1 {
    height: 1%;
    padding: 17px 12px 50px;
}

#obj-menu ul {
    color: rgb(179, 181, 206);
    list-style: none outside none;
    margin: 0px;
    padding: 1px 0px 0px;
    text-align: left;
}

#obj-menu ul li {
    font-weight: 900;
    background: none repeat scroll 0% 0% transparent;
    margin: 0px;
    padding: 0px 0px 8px;
    height: 1%;
}

#main2 {
    background: url("/img/sprite2.png") repeat-y scroll -70px 0px rgb(255, 255, 255);
}

.page-products {
    font-size: 87%;
    line-height: 1.8;
}

.page-products .product-col1 {
    float: left;
    width: 230px;
}

.page-products .product-col2 {
    background: none repeat scroll 0% 0% rgb(247, 247, 247);
    margin-left: 254px;
    margin-right: -23px;
    padding: 17px 26px 1px 24px;
}

.clear {
    clear: both;
    font-size: 0px;
    height: 0px;
    line-height: 0;
    float: none !important;
    width: 100% !important;
}

#cont3 blockquote {
    padding-left: 2.6em;
}

blockquote {
    line-height: 1.74;
    font-size: 0.86em;
    background: none repeat scroll 0% 0% rgb(238, 238, 238);
    margin: 2.1em 0px;
    padding: 1px 20px 1px 4.6em;
}

.page-products-sale {
    padding-top: 14px;
}

table {
    border-collapse: collapse;
    clear: both;
    width: 99.9%;
}

table td {
    font-size: 0.86em;
    line-height: 1.73;
}

td, th {
    vertical-align: top;
}

.mod-files ul li {
    background: url("/afedorov/img/download.png") no-repeat scroll 0px 0.6em transparent;
    padding-left: 20px;
}

.w40 {
    width: 40% !important;
}

.w10 {
    width: 10% !important;
}


.mod-files ul, .mod-files ol {
    margin-left: 0px;
}

.mod-files li h5 {
    margin-bottom: 0px;
}

h5 {
    font-size: 106%;
    font-weight: 900;
}

.mod-files ol {
    padding-left: 17px;
}

.mod-files ol li {
    background: none repeat scroll 0% 0% transparent;
    padding-left: 0px;
    list-style-type: decimal;
}

.mod-files .file-head {
    background: none repeat scroll 0% 0% transparent;
    font-weight: 900;
}

.tbl {
    border: 0px solid rgb(255, 255, 255);
    margin: 0px 0px 1.8em;
}

caption {
    font-size: 106%;
    line-height: 1.5;
    font-weight: 900;
    margin: 0px;
    padding: 0.8em 0px 1.8em;
    position: relative;
    text-align: center;
}

.tbl .fst {
    border-left: 0px solid !important;
}

.tbl th {
    background: none repeat scroll 0% 0% transparent;
    color: rgb(72, 72, 72);
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 1px 1px 8px;
    border-right: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    border-color: rgb(238, 238, 238) rgb(204, 204, 204) rgb(255, 255, 255);
    padding: 0px 10px 1px;
    text-align: left;
    vertical-align: middle;
}

.tbl .lst {
    border-right: 0px solid !important;
}

.tbl .fst th {
    border-top: 0px solid !important;
}

.tbl td {
    background: none repeat scroll 0% 0% rgb(238, 238, 238);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 0px 0px 0px 1px;
    padding: 8px 10px 7px;
    text-align: left;
    vertical-align: middle;
}

.odd td {
    background: none repeat scroll 0% 0% transparent;
}

.slideshow {
    height: 377px;
    overflow: hidden;
    position: relative;
}

.obj-ulinks {
    background: url("img/u-links.png") no-repeat scroll 0px 100% transparent;
    border: 1px solid rgb(227, 227, 227);
    margin: 24px 0px 8px;
    height: 1%;
    overflow: hidden;
    text-align: left;
}

.obj-ulinks div {
    float: left;
    min-height: 170px;
    height: auto !important;
    margin-right: 1px;
    width: 242px;
}

.obj-ulinks div.ulinks1 {
    background: url("img/ulinks1.jpg") no-repeat scroll 100% 15px transparent;
}

.obj-ulinks div.ulinks2 {
    background: url("img/ulinks2.jpg") no-repeat scroll 100% 15px transparent;
}

.obj-ulinks div.ulinks3 {
    background: url("img/ulinks3.jpg") no-repeat scroll 100% 15px transparent;
}

.obj-ulinks div.ulinks4 {
    background: url("img/ulinks4.jpg") no-repeat scroll 100% 15px transparent;
}

.obj-ulinks div.ulink-last {
    margin-right: -12px;
    position: relative;
    left: -2px;
}

#main .obj-ulinks h2 {
    font-size: 156%;
    display: block !important;
    margin: 23px 18px 0px !important;
    float: left;
    padding: 0px 0px 6px !important;
}

.obj-ulinks h2 a:link, .obj-ulinks h2 a:active, .obj-ulinks h2 a:visited {
    border-bottom: 3px solid rgb(241, 242, 242);
    text-decoration: none;
}

#main .obj-ulinks p {
    font-size: 0.85em;
    line-height: 1.7em;
}

.obj-ulinks p {
    clear: both;
    margin: 0px;
    padding: 1px 91px 25px 18px;
}

#cont1 .obj-catalog3 .ui-tabs-nav {
    font-size: 0.85em;
}

.ui-tabs-nav li {
    background: none repeat scroll 0% 0% transparent !important;
    margin: 0px 0px 0.4em !important;
    padding: 4px 13px;
    float: left;
    position: relative;
    text-align: center;
}

#cont1 .obj-catalog3 li {
    font-size: 0.96em;
    line-height: 1.7;
}

#cont1 .obj-catalog3 ul li {
    padding: 0px 0px 0px 1.9em;
}

.ui-tabs-nav a {
    border-bottom: 1px dashed rgb(45, 54, 148);
    color: rgb(45, 54, 148) !important;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    white-space: nowrap;
}

#cont1 .obj-catalog3 h2 {
    margin: 0.8em 0px 0.3em !important;
}

.ui-tabs-panel {
    clear: both;
}

#cont1 .obj-catalog3 p {
    color: rgb(108, 101, 101);
    text-align: left;
    padding: 0.8em 0px 0px;
}

#main .obj-ulinks2 {
    font-size: 0.9em;
    line-height: 1.6;
}

.obj-ulinks2 {
    margin-top: 1em;
}

#cont1 .obj-catalog3 .price-list {
    margin: 0px !important;
    padding: 1.4em 0px 0px !important;
}

.download {
    background: url("img/download.png") no-repeat scroll 0px 100% transparent;
    padding-left: 20px;
}

.ui-tabs-nav li.ui-tabs-selected a, .ui-tabs-nav li.ui-tabs-selected a:hover {
    border: 0px solid;
    color: rgb(255, 255, 255) !important;
    cursor: text;
    padding: 0px 0px 1px;
}

#catalog-tab1 img {
    float: right;
    margin: -0.8em 0px 0.5em 10px;
}

.obj-ulinks2 a {
    margin: 0px 8px 0px 0px;
}

#main .mod-text {
    background: none repeat scroll 0% 0% rgb(238, 238, 238);
    margin: 17px 0px 1.8em;
    padding: 1px 20px 1em 30px;
    width: auto;
}

#main .mod-text h2 {
    margin: 0.8em 0px 0.7em;
}

#main .mod-text h2 a, #main .mod-text h2 a:link, #main .mod-text h2 a:visited, #main .mod-text h2 a:hover, #main .mod-text h2 a:active {
    color: rgb(45, 54, 148);
}

#main .mod-text .fleft {
    width: 142px;
    font-size: 0.8em;
}

.fleft {
    float: left;
}

#main .mod-text .fleft img {
    border: 3px solid rgb(255, 255, 255);
    margin-bottom: 1em;
    padding: 0px;
}

#main .mod-text p {
    color: rgb(108, 101, 101);
    padding-left: 165px;
    text-align: left;
}


#main .mod-text .fleft p {
    padding-left: 0px;
}


#main .mod-text p {
    color: rgb(108, 101, 101);
    padding-left: 165px;
    text-align: left;
}

.obj-banners {
    margin-bottom: 0.8em;
    text-align: center;
}

#cont3 .obj-news {
    padding-top: 1px;
}

#cont3 .obj-news h2 {
    margin: 1em 0px 0.9em !important;
    line-height: 1;
}

#main h2, #main #cont1 h2, #main #cont3 h2 {
    font-size: 140%;
    font-weight: 100;
}

#cont3 .obj-news ul, #cont3 .obj-catalog2 div {
    font-size: 0.93em;
}

#cont3 .obj-news ul {
    margin: 0px;
    padding: 5px 0px 3px;
}

#cont3 .obj-news ul li {
    background: none repeat scroll 0% 0% transparent;
    border-top: 1px solid rgb(223, 223, 223);
    height: 1%;
    padding: 1.6em 0px 1em;
}

#cont3 .obj-news ul li.first {
    border: 0px solid;
    padding-top: 0px;
}

#cont3 .obj-news span {
    font-size: 0.8em;
    line-height: 1.4em;
    display: block;
    color: rgb(203, 203, 203);
}

#cont3 .obj-news li a, #cont3 .obj-news p {
    font-size: 0.9em;
    line-height: 1.7em;
}

#cont3 .obj-news p {
    color: rgb(108, 101, 101);
    margin: 0px 0px 0.6em;
    text-align: left;
}

