#divFooter{
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-top: 1px solid rgb(239, 239, 239);
    clear: both;
    color: rgb(176, 176, 176);
    padding: 7px 0px 20px 11px;
    height: 1%;
    position: relative;
    font-size:0.86em;
    font: Arial,Helvetica,sans-serif;
}

#divFooter form{
	padding:0;
}

#divFooter fieldset{
	border:0;
}

#divFooter input{
    color: rgb(124, 124, 124);
    display: block;
    height: 1.5em !important;
    margin: 1.2em 0px 15px;
    padding: 3px 0px 2px;
    text-indent: 5px;
    width: 146px;
    font-size:1.25em;
    line-height: 1.2em;
    font: Arial,Helvetica,sans-serif;
}


#divFooterLeft{
	width:275px;
	line-height: 1.65;
	float:left;
}

#divFooterLeft p{
	margin-bottom:1.6em;
}

#divFooterLeft span{
	display:block;
}

#copyr{
    margin: 1.4em 0px 1.6em;
    text-align: left;
}

#copyr span{
    color: rgb(127, 127, 127);
    font-size:1.3em;
}

#divFooterRight{
	width:226px;
	float:right;
}

.input-field{
	font-size:0.8em;
}

#author{
	line-height:1.65em;
}

#divFooterCenter{
	margin: 0px 240px 0px 287px;
}

#obj-mmenu2 {
    color: rgb(174, 179, 212);
    float: left;
    margin: 4px 0px 0px;
    padding: 0.5em 0px 20px;
    overflow: hidden;
    position: relative;
    width: 100% !important;
}

#footer #obj-mmenu2 li {
    line-height: 1;
}

#obj-mmenu2 li {
    background: none repeat scroll 0% 0% transparent;
    border-left: 1px solid rgb(118, 118, 118);
    float: left;
    margin: 1em 0px 0px;
    padding: 0px 11px;
    position: relative;
    left: -10px;
    white-space: nowrap;
}

