<div id="obj-menu">
    <ul>
        <li><a href="/1cengine/site/" title="Купить Online">Купить Online</a></li>
        <li class="active">Металлопрокат</li>
        <li><a href="/products/krovl/" title="Кровля и фасад">Кровля и фасад</a></li>
        <li><a href="/products/gost/" title="ГОСТы">ГОСТы</a></li>
        <li><a href="/products/faq/" title="Часто задаваемые вопросы">Часто задаваемые вопросы</a></li>
        <li><a href="/products/special/" title="Спецпредложение">Спецпредложение</a></li>
        <li><a href="/products/fence/" title="Заборные секции из металлоштакетника">Заборные секции из металлоштакетника</a></li>
        <li><a href="/products/request/" title="Оформить заявку">Оформить заявку</a></li>
        <li><a href="/products/dealers/" title="Дилерам">Дилерам</a></li>
    </ul>
</div>