<footer id="footer">
	<div id="fleft">
		<p id="copyr">
			<span>© 2013 ООО «Тримет»</span> Копирование материалов возможно только с письменного разрешения компании
		</p>
		<p>
			625014, г. Тюмень, ул. Республики, 278 а, строение 1 <span>+7 (3452) 520-670</span>
			<a href="/contacts/maps/" title="Схемы проезда">Схемы проезда</a>
		</p>
	</div>
	<div id="box">
		<ul id="obj-mmenu2">
			<li>
				<a href="/about/" title="О компании">О компании</a>
			</li>
			<li>
				<a href="/services/" title="Услуги">Услуги</a>
			</li>
			<li>
				<a href="/products/" title="Продукция">Продукция</a>
			</li>
			<li>
				<a href="/suppliers/" title="Поставщикам">Поставщикам</a>
			</li>
			<li>
				<a href="/contacts/" title="Контакты">Контакты</a>
			</li>
			<li>
				<a href="/1cengine/site/" title="Купить Online">Купить Online</a>
			</li>
			<li>
				<a href="/sitemap.py" title="Карта сайта">Карта сайта</a>
			</li>
		</ul>
	</div>
	<div id="fright">
		<div id="obj-counter" style="display:none">
			<!-- LiveInternet counter -->
			<script type="text/javascript">
				document.write('<a href="http://www.liveinternet.ru/click" target="_blank">' + '<img src="http://counter.yadro.ru/hit?t14.1;r' + escape(document.referrer) + (( typeof (screen) == 'undefined') ? '' : ';s' + screen.width + '*' + screen.height + '*' + (screen.colorDepth ? screen.colorDepth : screen.pixelDepth) ) + ';u' + escape(document.URL) + ';h' + escape(document.title.substring(0, 80)) + ';' + Math.random() + '" alt="" title="LiveInternet: показано количество просмотров и посетителей" ' + 'border="0" width="88" height="31" /><\/a>');
			</script><!--a href="http://www.liveinternet.ru/click" target="_blank"><img src="http://counter.yadro.ru/hit?t14.1;r;s1920*1080*24;uhttp%3A//www.trimet.ru/;h%u0413%u043B%u0430%u0432%u043D%u0430%u044F%20%u0441%u0442%u0440%u0430%u043D%u0438%u0446%u0430;0.8778673124898658" alt="" title="LiveInternet: показано количество просмотров и посетителей" border="0" height="31" width="88"></a-->
			<!--/LiveInternet-->
		</div>
		<div id="autor">
			<p>
				Создание сайта
			</p>
			<a href="http://trimet.ru" title="Продажа металлопроката" target="_blank">ООО «Тримет»</a>
		</div>
	</div>
</footer>