<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="keywords" content=
		"металлопрокат, профнастил, металлосайдинг, купить, онлайн, тюмень, арматура, балка, швеллер, трубы, угол, штрипс, квадрат, круг, лист, проволока" />
		<meta name="description" content=
		"Покупка металлосайдинга, профнастила, металлопроката в Тюмени онлайн" />

		<title> Главная страница </title>
		<script type="text/javascript">
			function loadfile(filename, tag) {
				var fileref = document.createElement(tag)
				if (tag == "script") {
					fileref.setAttribute("type", "text/javascript");
					sourcestr = "src";
				} else if (tag == "link") {
					fileref.setAttribute("rel", "stylesheet");
					fileref.setAttribute("type", "text/css");
					fileref.setAttribute("media", "all");
					sourcestr = "href";
				}

				if (document.URL.indexOf("127.0.0.1") == -1) {
					fileref.setAttribute(sourcestr, filename)
				} else {
					fileref.setAttribute(sourcestr, "/sitenewwave" + filename)
				}
				if ( typeof fileref != "undefined")
					document.getElementsByTagName("head")[0].appendChild(fileref)
			}

			loadfile("/mainpage_template.css", "link");
			loadfile("/footer.css", "link");
			loadfile("/lib/frameworks/jquery/1.8.3/jquery-1.8.3.min.js", "script");
			loadfile("/lib/ownlibs/js/trimet.js", "script");
			loadfile("/lib/ownlibs/js/clean_css.js", "script");
		</script>
		<!--script src="/lib/frameworks/jquery/1.8.3/jquery-1.8.3.min.js"></script-->
		<!--script src="http://trimet.ru/bitrix/templates/trimet/js/rmc_1.0.4.js" type="text/javascript"></script-->
		<!--link rel="stylesheet" type="text/css" href="/mainpage_template.css" media="all" /-->
		<!--link rel="stylesheet" type="text/css" href="/footer.css" media="all" /-->
	</head>
	<body class="page-main">
		<header>
			<a title="Тримет" href="/core.py"> <img id="logo" src="/img/logo.png" alt="Тримет" height="47" width="184" /> </a>
			<div class="box">
				<div id="obj-mmenu" style="margin-top: 72px;">
					<ul>
						<li>
							<a href="/about/" title="О компании">О компании</a>
						</li>
						<li>
							<a href="/services/" title="Услуги">Услуги</a>
						</li>
						<li>
							<a href="/products/" title="Продукция">Продукция</a>
						</li>
						<li>
							<a href="/suppliers/" title="Поставщикам">Поставщикам</a>
						</li>
						<li>
							<a href="/contacts/" title="Контакты">Контакты</a>
						</li>
						<li>
							<a href="/1cengine/site/" title="Купить Online">Купить Online</a>
						</li>
					</ul>
				</div>
				<div id="obj-navig" style="margin-top: 82px;">
					<img class="nav1" src="/img/n.gif" alt="" height="10" width="11" /><a href=
					"/contacts/feedback/" title=""><img class="nav2" src="/img/n.gif"
					alt="" height="10" width="11" /></a>
				</div>
				<div id="obj-lang">
					<ul>
						<li>
							<a>По русски</a>
						</li>
						<li>
							<a>In English</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<!--button onclick="clearcss()">Очистить</button-->
	</body>
</html>
