div#printForm{
    width:18cm;
    font-size: 11px;
    
}
div#title{
    font-size: 18px;
    font-weight: bold;
}
table#infoTab thead td{
    font-weight: bold;
    vertical-align: top;
}
table#infoTab tbody td{
    font-weight: bold;
    vertical-align: top;
}
table#infoTab tbody td.moarrr{
    font-weight: normal;
}

div#infoDiv p{
    border-top: 1px solid black;
}

table#dopUslugi{
    width:100%;
    border-top: 2px solid black;
}
table#dopUslugi thead{
    background-color: gray;
}    
table#dopUslugi ul{
    padding-left:15px;
    margin-top: 5px;
}
table#dopUslugi td{
    vertical-align:top;
}

div#product{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 15px 0;
}

table#productList{
    width: 100%;   
}
table#productList thead th{
    border-right:1px solid black;
    border-bottom: 1px solid black;
    border-top: 2px solid black;
}
table#productList thead th:first-child, table#productList tbody td:first-child{
    border-left: 2px solid black;
}
table#productList thead th:last-child, table#productList tbody td:last-child{
    border-right: 2px solid black;
}
table#productList tbody td{
    border-right:1px solid black;
    border-bottom: 1px solid black;
}
table#productList tfoot tr:first-child td{
    border-top: 2px solid black;
}
table#productList tfoot td{
    text-align: right;
}

div#nds{
    width:100%;
    text-align:right;
}
