<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="keywords" content=
		"металлопрокат, профнастил, металлосайдинг, купить, онлайн, тюмень, арматура, балка, швеллер, трубы, угол, штрипс, квадрат, круг, лист, проволока" />
		<meta name="description" content= "Покупка металлосайдинга, профнастила, металлопроката в Тюмени онлайн" />
        <meta name="cmsmagazine" content="e31b0f1c4fe6f5a6b0e173d6ea3e78eb" />
		<title> 
		<pythonscript>
			{template.set_title()}
		</pythonscript>
		</title>

	</head>
</html>
